.buttons-components-page {

    ion-card {
      margin-bottom: 2em;
    }
  
    ion-card-content {
      background-color: #F4F5F8;
    }
  
    ion-card-content ion-card img {
      width: 5%;
      height: 5%;
      display: block;
      margin: 20px auto;
    }
  
  }
  #divLog{
    margin: 0 auto;
    width: 25%;
  }
